.flavor-wheel {
 width: 80%;
 margin: 30px;
}

.remove a{
 visibility: hidden;
}

.chart {
 max-width: 350px;
 margin: 0 auto;
 padding: 1rem;
 border-radius: 12px;
 border: 2px solid #361500;
 text-align: center;
 display: flex;
 justify-content: space-around;
 height: 10rem;
}